<div class="container mt-5">
  <div class="text-center">
    <span class="fs-3 px-5 py-3" style="background-color: #007693; font-family: 'ZCOOL KuaiLe', cursive;"> S'inscrire</span>
  </div>
</div>
<div class="container mx-auto">
  <div class="row mt-5">
    <%= render 'form', user: @user %>
</div>